<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handinglian.system.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.handinglian.system.entity.Permission">
    <!--@mbg.generated-->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    permission_id, menu_id, permission, description, create_time, update_time, `valid`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="permission_id" keyProperty="permissionId" parameterType="com.handinglian.system.entity.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission (menu_id, permission, description, 
      create_time, update_time, `valid`
      )
    values (#{menuId,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="permission_id" keyProperty="permissionId" parameterType="com.handinglian.system.entity.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="permission != null and permission != ''">
        permission,
      </if>
      <if test="description != null and description != ''">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="valid != null">
        `valid`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="permission != null and permission != ''">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.handinglian.system.entity.Permission">
    <!--@mbg.generated-->
    update permission
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="permission != null and permission != ''">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        `valid` = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.handinglian.system.entity.Permission">
    <!--@mbg.generated-->
    update permission
    set menu_id = #{menuId,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `valid` = #{valid,jdbcType=TINYINT}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-06-26-->
  <select id="findByMenuId" resultType="com.handinglian.system.dto.PermissionDto">
        SELECT p.`permission_id` permissionId, p.`description` permissionName FROM permission p WHERE p.`menu_id`=#{menuId}  AND p.`valid`=1
    </select>
</mapper>